* {
  margin: 0;
  padding: 0;
}

.hero-img {
  background: url(../../assets/hero-desktop.jpg) no-repeat;
  background-size: cover;
  height: 750px;
}

@media screen and (max-width: 768px) {
  .hero-img {
    width: auto;
    height: 390px;
  }
}

@media screen and (min-width: 1920px) {
  .hero-img {
    height: 1020px;
  }
}
