@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

section .section-title h2 {
  font-family: "Roboto", sans-serif;
  align-items: center;
  font-size: 40px;
  font-weight: bold;
  color: #2d2d2d;
  text-align: center;
  margin: 62px auto;
}

section {
  .cards {
    display: flex;
    justify-content: space-around;
  }
}

.card-labios {
  background: url(../../assets/card-labios.jpg) no-repeat;
  background-size: cover;
  width: 320px;
  height: 500px;
}

.card-olhos {
  background: url(../../assets/card-olhos.jpg) no-repeat;
  background-size: cover;
  width: 320px;
  height: 500px;
}

.card-rosto {
  background: url(../../assets/card-rosto.jpg) no-repeat;
  background-size: cover;
  width: 320px;
  height: 500px;
}

.card-tendencia {
  background: url(../../assets/card-tendencia.jpg) no-repeat;
  background-size: cover;
  width: 320px;
  height: 500px;
}

@media screen and (min-width: 1920px) {
  section {
    .cards {
      justify-content: center;
      gap: 60px;
    }
  }
}
